In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
data = pd.read_csv(url, sep='\t')

In [4]:
data.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [5]:
print(f'number of rows {data.shape[0]}')

number of rows 4622

In [6]:
print(f'number of columns {data.shape[1]}')

number of columns 5

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
data.index

RangeIndex(start=0, stop=4622, step=1)

Finding the most-ordered item

In [10]:
x = data.groupby("item_name")
x

In [11]:
x = x.sum()
x

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [12]:
x = x.sort_values(['quantity'], ascending=False)

In [13]:
x.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

The most ordered item in the choice_description column

In [14]:
x = data.groupby('choice_description').sum()
x = x.sort_values(['quantity'], ascending=False)
x.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [15]:
total_items_orders = data.quantity.sum()
total_items_orders

4972

Turn the item price into a float

In [16]:
data.item_price.dtype

dtype('O')

In [17]:
dollarize = lambda x:float(x[1:-1])
data.item_price = data.item_price.apply(dollarize)

In [18]:
data.item_price.dtype

dtype('float64')

The revenue for the period in the dataset

In [19]:
revenue = (data['quantity'] * data['item_price']).sum()
print(f'The total revenue is ${np.round(revenue,2)}')

The total revenue is $39237.02

Total number of orders

In [20]:
data.order_id.value_counts().count()

1834

The average revenue amount per order

In [21]:
data['revenue'] = data['quantity'] * data['item_price']
order_grouped = data.groupby(by=['order_id']).sum()
order_grouped = order_grouped.drop(columns=['item_price'], axis=1)

In [22]:
order_grouped.mean()['revenue']

21.394231188658654

Different items are sold

In [23]:
data.item_name.value_counts().count()

50