In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'
apple = pd.read_csv(url)

apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [3]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [4]:
apple['Date'] = pd.to_datetime(apple.Date)

In [5]:
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

In [6]:
apple.head()

        Date   Open   High    Low  Close    Volume  Adj Close
0 2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1 2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2 2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3 2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4 2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [7]:
apple = apple.set_index('Date')
apple.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [8]:
apple.index.is_unique

True

In [9]:
apple.sort_index(ascending = True).head()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

In [10]:
apple_month = apple.resample("BM").mean()
apple_month

                  Open        High  ...        Volume  Adj Close
Date                                ...
1980-12-31   30.481538   30.567692  ...  2.586252e+07   0.473077
1981-01-30   31.754762   31.826667  ...  7.249867e+06   0.493810
1981-02-27   26.480000   26.572105  ...  4.231832e+06   0.411053
1981-03-31   24.937727   25.016818  ...  7.962691e+06   0.387727
1981-04-30   27.286667   27.368095  ...  6.392000e+06   0.423333
...                ...         ...  ...           ...        ...
2014-03-31  533.593333  536.453810  ...  5.954403e+07  75.750000
2014-04-30  540.081905  544.349048  ...  7.660787e+07  76.867143
2014-05-30  601.301905  606.372857  ...  6.828177e+07  86.058571
2014-06-30  222.360000  224.084286  ...  5.745506e+07  91.885714
2014-07-31   94.294000   95.004000  ...  4.218366e+07  94.470000

[404 rows x 6 columns]

In [11]:
(apple.index.max() - apple.index.min()).days

12261

In [12]:
apple_months = apple.resample('BM').mean()
len(apple_months.index)

404